*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    min-height: 100vh;
}
body, .time, .leftside, .rightside, .date, .days{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightside{
    flex-direction: column;
}
.digitalclock{
    background-color: black;
    color: white;
    padding: 20px 40px;
    width: 425px;
    border-radius: 20px;
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.3);
}
#hours{
    font-size: 6rem;
    font-weight: 600;
}
#dots{
    font-size: 4rem;
    font-weight: 800;
    margin-left: 10px;
}
#minutes{
    font-size: 4rem;
    font-weight: 600;
    margin-left: 20px;
}
#seconds{
    font-size: 1.5rem;
    font-weight: 600;
}
#ampm{
    font-size: 1rem;
    font-weight: 600;
    color: yellow;
}
.rightbottom{
    margin-left: 60px;
}